<div class="p-grid p-justify-center p-align-center" style="height: 100vh;">
    <div class="p-col-6">
        <div class="p-card p-shadow-4">
            <div class="access-denied-header">
                <i class="pi pi-exclamation-triangle"></i>
                <h1 class="p-text-center">Acceso Denegado!</h1>
            </div>
            <p class="p-text-center">
                Usted no tiene permiso para acceder a este contenido.
            </p>
            <div class="card flex justify-content-center">
                <p-button label="Salir" styleClass="p-button-link" (onClick)="logOut()"></p-button>
            </div>
        </div>
    </div>

</div>