.vista{
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 40px;
    margin-bottom: 40px;
}


.custom-bottom{
  font-weight: bold;
  text-align: center;
  border: none;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  
}
button:hover {
  border: 1px solid #000;
}

.tabla {
    overflow-x: auto;
  }
  .tabla th:nth-child(1),
  .tabla td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 1;
  }
  
  .tabla th,
  .tabla td {
    width: 170px; 
  }
  
  .button-content {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .text {
      flex: 1;
  }
  
  .yellow-background {
      background-color: #E3B02E;
  }
  
  .bg-green {
      background-color: #3EB13C;
  }
  
  .bg-gray {
      background-color: #BDBDBD;
  }
  
  .bg-sky {
    background-color: #40b0e4;
  }
  
  
  
  :host ::ng-deep .p-dialog-header {
    display: flex;
    justify-content: center;
  }
  :host ::ng-deep .p-dialog .p-dialog-content {
    display: flex;
    justify-content: center;
  }
  
  
  :host ::ng-deep .p-dialog-footer {
    display: flex;
    justify-content: center;
  }


  /* Buttom Nuevo */
  .myButton {
    background-color: #E3B02E;
    border: none;
    color: black;
    width: 160px;
}

@media (min-width: 1200px) {
    .myButton {
        margin-right: 160px;
    }
}


@media (max-width: 1199px) {
    .myButton {
        margin-right: calc(160px * 0.05);
    }
}

@media (max-width: 991px) {
    .myButton {
        margin-right: calc(160px * 0.005);
    }
}

@media (max-width: 767px) {
    .myButton {
        margin-right: calc(160px * 0.0005);
    }
}
/* Buttom nuevo end */