<div>
    <h4 class="m-0 pl-2 py-1 text-black-alpha-70" style="background: #99bbdcdf;">Datos del tutorado:</h4>
    
    <div class="container" >
        <div>
            <div class="data-fields-labels">
                Nombre
            </div>
            <div class="data-fields-labels">
                Código
            </div>
            <div class="data-fields-labels">
                Nro de celular
            </div>
            <div class="data-fields-labels">
                Persona de referencia
            </div>

        </div>
        <div>
            <div class="data-fields">
                {{Tutorado.nombres}}
            </div>
            <div class="data-fields">
                {{Tutorado.code}}
            </div>
            <div class="data-fields">
                {{Tutorado.nroCelular}}
            </div>
            <div class="data-fields">
                {{Tutorado.personReferencia}}
            </div>

        </div>
        <div>
            <div class="data-fields-labels">
                Apellidos
            </div>
            <div class="data-fields-labels">
                Email
            </div>
            <div class="data-fields-labels">
                Dirección
            </div>
            <div class="data-fields-labels">
                Nro de referencia
            </div>

        </div>
        <div>
            <div class="data-fields">
                {{Tutorado.apPaterno}} {{Tutorado.apMaterno}} 
            </div>
            <div class="data-fields">
                {{Tutorado.email}}
            </div>
            <div class="data-fields">
                {{Tutorado.direccion}}
            </div>
            <div class="data-fields">
                {{Tutorado.nroCelularPersonaReferencia}}
            </div>

        </div>
    </div>

    
</div>