<div >
   
    
    <div 
        style=" display: flex; ">

        <div class="data-fields" style="flex: 1; ">
            <strong class="mr-1">Fecha inicio:</strong> {{ FechaInicio }}
        </div>
        <div class="data-fields" style="flex: 1; ">
            <strong class="mr-1">Fecha fin:</strong> {{ FechaFin }}
        </div>
        <div class="data-fields" style="flex: 1;">
            <strong class="mr-1">Semestre:</strong> {{ semestre}}  
            
        </div>   

        <div class="data-fields" style="flex: 1;">   
            <strong class="mr-1">Tipo:</strong>  {{ tipoReunion}}
            
        </div>   
    </div>

</div>
