
<app-home></app-home>
<div class="vista" style="position: relative; z-index: 0;">
  <div class="text-center">
    <h1>Historial de sesiones de tutoría</h1>
  </div>
  <div *ngIf="tutorado">
    <app-datos-tutorados-historial [Tutorado]="tutorado"></app-datos-tutorados-historial>
  </div>
  <br>
  <app-tabla-historial-tutorado [tutoradoObj]="tutorado"> </app-tabla-historial-tutorado>
  
  <br>
  <div style="display: flex; justify-content: flex-start; ">
    <button pButton pRipple                   
            icon="pi pi-arrow-left"
            iconPos="left"
            [style]="{ 'background-color': '#E3B02E', 'border': 'none','color': 'black'}"
            (click)="retroceder()"
            >
    </button>
  </div>
    
  
  <ng-template #noDataTemplate>
    <div class="text-center">
      <p class="bg-yellow-200">No hay registros para este semestre.</p>
    </div>
  </ng-template>
</div>
<p-toast></p-toast>
