
<div    class="grid h-screen align-items-center justify-content-center"        
        style="background-color: #061039;">
    <div class="col">
        <div    class="card-container justify-content-center w-5 m-auto" 
                style="background-color: #061039;">            
            <div class="card flex justify-content-center">
                <p-image src="../../assets/logo-EPIIS-Sin-fondo.png" 
                        alt="Image" 
                        width="350" 
                        height="350">
                </p-image>
            </div>
            <div class="text-center text-0">
                <h1 class="custom-title-1">Sistema de tutoría EPIIS</h1>
                <h1 class="custom-title" >UNSAAC</h1>                
            </div>            
            <div class="pt-2 d-flex justify-content-center">
                <button pButton pRipple 
                        label="Login" 
                        icon="pi pi-user" 
                        iconPos="right" 
                        class="w-full border-none font-bold text-900" 
                        (click)="login()" 
                        style="background-color: #E3B02E;">
                </button>
            </div>
        </div>
    </div>
</div>


    