
<div class="grid h-screen align-items-center justify-content-center custom-background">
    <div id="contenedorcentrado" class="z-2">
        <div id="izquierdo">
            <div class="titulo">
                Reestablecer contraseña
            </div>
            <hr>
            <div class="pie-form text-center">
                <small class="text-0">Reestablece tu contraseña aquí.</small>
                <hr>
                
            </div>
        </div>

        <div id="reset" >
            <form  id="resetPassword"
                autocomplete="off" 
                [formGroup]="resetFormulario" 
                (ngSubmit)="ReestablecerContrasena()">

                <div>
                    <label  for="password" 
                            class="block text-900 font-medium mb-2">Nueva contraseña
                    </label>

                    <div 
                        [class.error]="resetFormulario.controls['password'].dirty && resetFormulario.hasError('required','password')">
                        <p-password formControlName="password" 
                                    type="password" 
                                    class="w-full"
                                    [feedback]="true" 
                                    placeholder="Ingresar nueva contraseña" 
                                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" 
                                    [style]=" {'width':'100%'}"
                                    [inputStyle]=" {'width':'100%'}" 
                                    [toggleMask]="true">
                        </p-password>
                    </div>

                    <small
                        *ngIf="resetFormulario.controls['password'].dirty && resetFormulario.hasError('required','password')"
                        style="color: red; margin-top:1px">*La contraseña es requerida.
                    </small>
                </div>

                <br>


                <div>
                    <label  for="confirmPassword" 
                            class="block text-900 font-medium mb-2">Confirmar contraseña
                    </label>

                    <div 
                        [class.error]="resetFormulario.controls['confirmPassword'].dirty && resetFormulario.hasError('required','confirmPassword')">
                        <p-password formControlName="confirmPassword" 
                                    type="password" 
                                    class="w-full"
                                    [feedback]="false" 
                                    placeholder="Confirmar contraseña" 
                                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" 
                                    [style]=" {'width':'100%'}"
                                    [inputStyle]=" {'width':'100%'}" 
                                    [toggleMask]="true">
                        </p-password>
                    </div>

                    <small
                        *ngIf="resetFormulario.controls['confirmPassword'].dirty && resetFormulario.hasError('required','confirmPassword')"
                        style="color: red; margin-top:1px">*La contraseña de confirmacion es requerida.
                    </small>

                    <small
                        *ngIf="resetFormulario.hasError('ConfirmPasswordValidator','confirmPassword')"
                        style="color: red; margin-top:1px">*La contraseña no coincide.
                    </small>
                </div>                                           

                <div class="pt-2 
                            d-flex 
                            justify-content-center">
                    <button pButton pRipple 
                            label="Confirmar contraseña" 
                            icon="pi pi-refresh" 
                            iconPos="right" 
                            class="w-full">
                    </button>
                </div>
            </form>
        </div>        
    </div>
</div>
<p-toast></p-toast>