.vista{
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 40px;
    margin-bottom: 40px;
}


/* Actividad sesion de tutoria */
.dimension-title{
    background-color: #E3B02E; 
    width: 100%; height: fit-content; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    margin-bottom: 1px;
    padding: 5px;
}
.general-dimension-title{
    font-size: 18px; 
    font-size: 1.25rem; 
    color: black;
    font-weight: bold;
}
.dimension-title span{
    font-size: 18px; 
    color: black;
}

textarea{
    border-radius: 0; 
    width: 100%; 
    background: hsl(0, 0%, 74%); 
    font-size: 1.125rem;
    resize: vertical;
}

  

/* actividad sesion tutoria end */